{% extends "extends/base.html" %}
{% block title %}
<title>Week 7 Task 1 | Big Data Analytics</title>
{% endblock title %}
{% block root-title %}
Home
{% endblock root-title %}
{% block page-title1 %}
<button onclick="window.location.href='/'" class="btn btn-outline btn-rounded btn-info">
    <i class="ti-arrow-left m-l-5"></i>
    <span>Back Home</span>
</button> Week 7
{% endblock page-title1 %}
{% block page-title2 %}
Week 71
{% endblock page-title2 %}
{% block content %}

<div class="row" onload="myfunction()">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="white-box">
            <form class="form-horizontal" action="week71" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <h3 class="box-title m-b-0">Input Parameter</h3>
                    <p class="text-muted m-b-30 font-13"> Menjalankan Naive Bayes pada Hadoop dengan JAVA </p>
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-12">Harga Beli (Fitur 1)</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="fitur_1" id="fitur_1" required>
                                <option disabled selected>Pilih kategori harga beli</option>
                                <option value="low">Rendah</option>
                                <option value="med">Medium</option>
                                <option value="high">Tinggi</option>
                                <option value="vhigh">Sangat Tinggi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Biaya Perawatan (Fitur 2)</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="fitur_2" id="fitur_2" required>
                                <option disabled selected>Pilih kategori biaya perawatan</option>
                                <option value="low">Rendah</option>
                                <option value="med">Medium</option>
                                <option value="high">Tinggi</option>
                                <option value="vhigh">Sangat Tinggi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Jumlah Pintu (Fitur 3)</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="fitur_3" id="fitur_3" required>
                                <option disabled selected>Pilih jumlah pintu</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5more">5 atau lebih</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Kapasitas penumpang (Fitur 4)</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="fitur_4" id="fitur_4" required>
                                <option disabled selected>Pilih kapasitas penumpang</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="more">Lebih dari 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Ukuran bagasi (Fitur 5)</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="fitur_5" id="fitur_5" required>
                                <option disabled selected>Pilih ukuran bagasi</option>
                                <option value="small">Kecil</option>
                                <option value="med">Medium</option>
                                <option value="big">Besar</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Fitur keamanan (Fitur 6)</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="fitur_6" id="fitur_6" required>
                                <option disabled selected>Pilih fitur keamanan</option>
                                <option value="low">Rendah</option>
                                <option value="med">Medium</option>
                                <option value="high">Tinggi</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button id="submit" class="btn btn-block btn-info btn-rounded">Proses</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-3"></div>
<div class="panel panel-info block4">
    <div class="panel-heading"> Detail Hasil Prediksi
        <div class="pull-right"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="#"
                data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="row">
                <div class="col md-12">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-12">Fitur 1</label>
                            <div class="col-sm-12">
                                <input value="{{ prediction }}" class="form-control" type="text" name="hasil" id="hasil"
                                    placeholder="Hasil">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}