{% extends "extends/base.html" %}
{% block title %}
    <title>Week 2 Task 2 | Big Data Analytics</title>
{% endblock title %}
{% block root-title %}
    Home
{% endblock root-title %}
{% block page-title1 %}
    Week 2 Task 2
{% endblock page-title1 %}
{% block page-title2 %}
    Week 2 Task 2
{% endblock page-title2 %}
{% block content %}
<h2>Halaman Week 2 Task 2</h2><br>
<button onclick="window.location.href='/'" class="btn btn-outline btn-rounded btn-info">
    <i class="ti-arrow-left m-l-5"></i>
    <span>Back Home</span>
</button>
{% endblock content %}