<script>
    Highcharts.chart('hasilGrafik', {
        chart: {
            type: 'spline'
        },

        title: {
            text: 'Prediksi Harga Kebutuhan Pokok'
        },

        xAxis: {
            title: {
                text: 'Data ke-'
            }
        },

        yAxis: {
            title: {
                text: 'Harga (Rupiah)'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                }
            }
        },

        series: [{
            name: 'Y Aktual',
            data: {{ y_aktual }}
        }, {
            name: 'Y Prediksi',
            data: {{ y_prediksi }}
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>