{% load static %}
<link rel="shortcut icon" href="https://filkom.ub.ac.id/assets/icons/xfavicon-32x32.png.pagespeed.ic.aoSXDJiknB.webp" type="image/x-icon"/>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<!-- Menu CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar-nav.min.css' %}" />
<!-- toast CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.toast.css' %}" />
<!-- morris CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/morris.css' %}" />
<!-- chartist CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/chartist.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/chartist-plugin-tooltip.css' %}" />
<!-- Calendar CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.css' %}" />
<!-- animation CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!-- Spinner CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/spinners.css' %}" />
<!-- color CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/blue-dark.css' %}" id="theme" />