{% load static %}
<!-- Jquery JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Jquery JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Menu Plugin JavaScript -->
<script type="text/javascript" src="{% static 'js/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script type="text/javascript" src="{% static 'js/waves.js' %}"></script>
<!--Morris JavaScript -->
<script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/morris.js' %}"></script>
<!-- chartist chart -->
<script type="text/javascript" src="{% static 'js/chartist.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartist-plugin-tooltip.min.js' %}"></script>
<!-- Calendar JavaScript -->
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cal-init.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="{% static 'js/custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard1.js' %}"></script>
<!-- Custom tab JavaScript -->
<script type="text/javascript" src="{% static 'js/cbpFWTabs.js' %}"></script>
<script type="text/javascript" >
(function() {
    [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
        new CBPFWTabs(el);
    });
})();
</script>
<!-- Toast JavaScript -->
<!-- <script type="text/javascript" src="{% static 'js/jquery.toast.js' %}"></script> -->
<!--Style Switcher -->
<script type="text/javascript" src="{% static 'js/jQuery.style.switcher.js' %}"></script>
<!--File Upload -->
<script type="text/javascript" src="{% static 'js/jasny-bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>

